.screen-reader-text {
    clip:rect(1px,1px,1px,1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden}
.screen-reader-text:hover,.screen-reader-text:active,.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
    clip: auto!important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding:15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index:100000
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto
}

.wp-caption .wp-caption-text {
    margin: .8075em 0
}

.gallery {
    margin-bottom: 1.5em
}

.gallery-item {
    display: inline-block;
    vertical-align: top;
    width: 100%; 
    padding-left: 5px;
    padding-right: 5px
}

.gallery-columns-2 .gallery-item {
    max-width: 50%
}

.gallery-columns-3 .gallery-item {
    max-width:33.33%
}

.gallery-columns-4 .gallery-item {
    max-width: 25%
}

.gallery-columns-5 .gallery-item {
    max-width: 20%
}

.gallery-columns-6 .gallery-item {
    max-width:16.66%
}

.gallery-columns-7 .gallery-item {
    max-width:14.28%
}

.gallery-columns-8 .gallery-item {
    max-width:12.5%
}

.gallery-columns-9 .gallery-item {
    max-width:11.11%
}

.gallery-caption {
    display: block;

}
.wp-block-gallery {
    margin-bottom:1em
}

.blocks-gallery-caption {
    margin-top:0
}

.wp-block-button__link {
    --wp-btn-border-radius:1.5em;
    border-radius:var(--wp-btn-border-radius);
    line-height:1.35em
}

.wp-block-button.is-style-squared .wp-block-button__link {
    --wp-btn-border-radius:0
}

.wp-block-cover.has-background-dim {
    color:#fff
}

.wp-block-cover.has-background-dim a {
    color:inherit
}

.wp-block-group.has-background,.has-background {
    margin-bottom:1.5em
}

.wp-block-pullquote blockquote {
    border:none
}
body {
    font-family:"Rubik",sans-serif;
    font-size:18px; 
    background-color:#ffffff; 
    line-height:1.7;font-weight:400
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-family:"Manrope",sans-serif;
    margin:1em 0 .5em;
    font-weight:600;
    line-height:1.2em;
    color:#181b31
}

.h1,h1 {
    margin-top:0;
    font-size:52px
}

.h2,h2 {
    margin-top:.75em;
    font-size:40px
}

.h3,h3 {
    font-size:32px
}

.h4,h4 {
    font-size:25px
}

.h5,h5 {
    font-size:21px
}

.h6,h6 {
    font-size:18px
}

.elementor-widget-image {
    text-align:center
}

.elementor-widget-image a {
    display:inline-block
} 

.elementor-widget-image a img[src$=".svg"] {
    width:48px
} 

.elementor-widget-image img {
    vertical-align:middle;
    display:inline-block
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color:#69727d;
    color:#fff
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
    color:#69727d;
    border:3px solid;
    background-color:transparent
}

.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
    margin-top:8px
}

.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
    width:1em;
    height:1em
} 

.elementor-widget-text-editor .elementor-drop-cap {
    float:left;
    text-align:center;
    line-height:1;
    font-size:50px
}

.elementor-widget-text-editor .elementor-drop-cap-letter {
    display:inline-block
}
.elementor-column .elementor-spacer-inner {
	height:var(--spacer-size)
}

.e-con {
	--container-widget-width: 100%
}
	
.e-con-inner>.elementor-widget-spacer,.e-con>.elementor-widget-spacer {
	width:var(--container-widget-width,var(--spacer-size));
	--align-self:var(--container-widget-align-self,initial);
	--flex-shrink:0
}

.e-con-inner>.elementor-widget-spacer>.elementor-widget-container,.e-con>.elementor-widget-spacer>.elementor-widget-container {
	height:100%;
	width:100%
}

.e-con-inner>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer,.e-con>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer {
	height:100%
} 

.e-con-inner>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner,.e-con>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner {
	height:var(--container-widget-height,var(--spacer-size))
}

.e-con-inner>.elementor-widget-spacer.elementor-widget-empty,.e-con>.elementor-widget-spacer.elementor-widget-empty {
	position:relative;
	min-height:22px;
	min-width:22px
}

.e-con-inner>.elementor-widget-spacer.elementor-widget-empty .elementor-widget-empty-icon,.e-con>.elementor-widget-spacer.elementor-widget-empty .elementor-widget-empty-icon {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	padding:0;
	width:22px;
	height:22px
}
* {
    -moz-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    user-select:none
}
@font-face {
    font-family:"Font Awesome 5 Free";
    font-style:normal;
    font-weight:900;
    font-display:block;
    src:url(wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.eot);
    src:url(wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.eot#iefix) format("embedded-opentype"),url(wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.woff2) format("woff2"),url(wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.woff) format("woff"),url(wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.ttf) format("truetype"),url(wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.svg#fontawesome) format("svg")
}

.fa,.fas {
    font-family:"Font Awesome 5 Free";
    font-weight:900
}
@font-face {
    font-family:"Font Awesome 5 Brands";
    font-style:normal;
    font-weight:400;
    font-display:block;
    src:url(wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-brands-400.eot);
    src:url(wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-brands-400.eot#iefix) format("embedded-opentype"),url(wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-brands-400.woff2) format("woff2"),url(wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-brands-400.woff) format("woff"),url(wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-brands-400.ttf) format("truetype"),url(wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-brands-400.svg#fontawesome) format("svg")
}
.fab {
    font-family:"Font Awesome 5 Brands";
    font-weight:400
}
.notifyjs-bootstrap-base {
    background-color: #F2DEDE !important;
    border-color: #F2DEDE!important;
    color: #B94A48!important;
}
.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload),
				.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * {
					background-image: none !important;
				}
				@media screen and (max-height: 1024px) {
					.e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload),
					.e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * {
						background-image: none !important;
					}
				}
				@media screen and (max-height: 640px) {
					.e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload),
					.e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * {
						background-image: none !important;
				}
}
@media only screen and (max-width: 600px) {
    html, body {
      overflow-x: hidden !important;
  }
}

a.btn-underlined span.btn-txt {
  display: none;
}

.lqd-fancy-menu {
  display:none!important;
}

.wp-bottom-menu {
  display:none!important;
}

.lqd-scrl-indc  {
  display: none;
}

.lqd-back-to-top {
  padding: 10px;
}

.elementor-5824 .elementor-element.elementor-element-7b83f68e .btn .btn-icon {
  display: none!important;
}

.lqd-stickybar-left {
  display: none!important;
}
body {
    --lqd-cc-active-bw:1px;
}

.lqd-preloader-wrap {
    background:rgb(69, 72, 95);
}

.lqd-spinner-circular circle {
    stroke:rgb(255, 255, 255);
} 

.titlebar-inner {
    padding-top:80px;
    padding-bottom:80px;
}

@media screen and (min-width: 992px) {
    body.has-sidebar #lqd-contents-wrap {
        padding-top:25px;
    }
}
#sl-preloader {
    height: 100vh;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9999999;
}

.sl-pl-close-icon {
    border: 1px solid blue;
    cursor: pointer;
    fill: red
    ;height: 30px;
    stroke-linecap: round;
    stroke-width: 0.5px;
    stroke: blue;width: 30px;
}

#sl-pl-close-button {
    display: none;
    pointer-events: auto;
    position: absolute
    ;right: 10px;
    top: 10px;
    z-index: 999;
}

.sl-pl-loaded .sl-pl-spin,.sl-pl-loaded .sl-pl-text,.sl-pl-loaded .sl-pl-custom,.sl-pl-loaded #sl-pl-counter,.sl-pl-loaded #sl-pl-close-button,.sl-pl-loaded .sl-pl-bar-container,.sl-pl-loaded .sl-pl-brand-container {
    opacity: 0;
    transition: opacity 0.5s ease-out 0s;
}

.sl-pl-bg {
    pointer-events: auto;
    position: fixed;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.sl-pl-bg-circle {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;}
.sl-pl-bg-circle {
    clip-path: circle(75%);
    -webkit-clip-path: circle(75%);
}

.sl-pl-loaded .sl-pl-bg-circle {
    clip-path: circle(0);
    -webkit-clip-path: circle(0);
}

.sl-pl-spin-container {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
}
    
.sl-pl-spin {
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
}

.sl-pl-icon-effect {
    display: inline-block;
    height: 0;
    position: absolute;
    visibility: hidden;
    width: 0;
}

.sl-pl-custom {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.sl-pl-text {
    position: relative;
    line-height: normal;
}

.sl-pl-text span {
    display: inline-block;
}

#sl-pl-yoyo span {
    animation: sl-pl-yoyo-anim 1s ease-in infinite;
    -webkit-animation: sl-pl-yoyo-anim 1s ease-in infinite;
}

@-webkit-keyframes sl-pl-yoyo-anim {
    50% {
        -webkit-transform: translate(-2px, -2px);
        }
    0%,100% {
        -webkit-transform: translate(0, 0);
        }
    }

@keyframes sl-pl-yoyo-anim {
    50% {
        transform: translate(-2px, -2px);
        }
    0%,100% {
        transform: translate(0, 0);
        }
    }
    
.sl-pl-brand {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.sl-pl-brand-container div {
    display: inline-block;
}

.sl-pl-brand-container,.sl-pl-brand-container div {
    perspective: 200px;
    -webkit-perspective: 200px;
    position: relative;
    text-align: center;
}

#sl-pl-brand-parent {
    width: 100%;
}

.sl-pl-bg {
    opacity: 1;
    background: #101010 !important;
} 

.sl-pl-brand-container {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.sl-pl-text {
    font-size: 18px !important;
    color: #fff !important;
    margin-top: 0px !important;
}

.sl-pl-text span {
    font-size: 18px !important;
    color: #fff !important;
}